<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<form action="/employees/add" method="post" enctype="multipart/form-data">
    <label>
        <input type="text" name="name" placeholder="Please input name"/>
        <input type="text" name="surname" placeholder="Please input surname"/>
        <input type="email" name="email" placeholder="Please input email"/>
        <input type="text" name="phoneNumber" placeholder="Please input phone number"/>
        <input type="number" name="salary" placeholder="Please input salary"/>
        <input type="file" name="image" accept="image/jpeg" />
    </label>
    <label>
        <select name="position">
            <option value="ACTIVE">ACTIVE</option>
            <option value="INACTIVE">INACTIVE</option>
        </select>
    </label>
    <label>
        <select name="companyId" required>
            <option th:each="company:${companies}" th:text="${company.name + ' ' + company.address}" th:value="${company.id}"></option>
        </select>
    </label>

    <button type="submit" name="Add">Add</button>

</form>
</body>
</html>