<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Company</title>
</head>
<body>
<form action="/user" method="post">

    <label>
        <input type="email" name="email" placeholder="Please input email" />
    </label>
    <label>
        <input type="password" name="password" placeholder="Please input  password" />
    </label>
    <label>
        <select name="role">
            <option value="USER">USER</option>
        </select>
    </label>


    <button type="submit" name="Add">Add</button>

</form>
</body>
</html>